@font-face {
  font-family: publicSans;
  src: url(PublicSans-Regular.otf);
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
  font-family: 'publicSans';
}
 
.wrap_message {
  width: 100%;
  max-width: 35rem;
  /* height: 100vh; */
  position: relative;
  margin: 0 auto;
  padding: 0;
  /* background-color: beige; */
}
 
.app_waffle, .tra_waffle, .net_waffle, .lin_waffle, .vohveli {
  display: flex;
  flex-wrap: wrap;
  width: 140px;
  margin: 0;
  padding: 0;
  /* border-left: 1px double black; */
}
 
.block {
  width: 10px;
  height: 10px;
  margin: 2px;
  font-size: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: dimgray;
  font-family: monospace;
}
 
.block-info {
  position: absolute;
  top: 150px;
  left: 200px;
  width: 10px;
  height: 10px;
  margin: 2px;
  background-color: #CCCCCC;
}
 
.block-info::after {
  content: '1 tavu, 8 bittiä\A Tässä yhteydessä tavu on yksi merkki \A esimerkiksi G = 01000111.';
  white-space: pre;
  position: absolute;
  top: -4px;
  left: 15px;
}
 
.highlight {
  outline: 1px solid black;
}

.t {
  position: absolute;
}
 
#t1 {
  top: 52px;
  left: 207px;
}
 
.line1 {
  position: absolute;
  top: 54px;
  left: 43px;
  border-bottom: 1px dotted black;
  opacity: .5;
  width: 160px;
  transform: rotate(5deg);
}

#t2 {
  top: 81px;
  left: 207px;
}
 
.line2 {
  position: absolute;
  top: 82px;
  left: 45px;
  border-bottom: 1px solid blue;
  opacity: .5;
  width: 160px;
  transform: rotate(5deg);
}

.cir2 {
  position: absolute;
  top: 61px;
  left: -2px;
  border: 1px solid blue;
  opacity: .5;
  width: 46px;
  height: 16px;
}

#t3 {
  top: 650px;
  left: 200px;
}

/* Yksinkertaisin verkko */

.wrap_simpleNet,
.wrap_packets {
  margin-bottom: 100vh;
}

.simpleNet {
  position: relative;
  display: flex;
  justify-content: space-evenly;
}

.simpleNet div {
  width: 30px;
  height: 30px;
  background-color: #CCCCCC;
}

.simpleNet.div :nth-child(1) {

}

/* Kerrokset ja niiden tehtävät */

.wrap_layers {
  margin: auto;
  width: 100%;
}

figure.layers {
  display: flex;
  flex-direction: column;
}

.layer-1,
.layer-2,
.layer-3,
.layer-4,
.layer-5 {
  width: 50%;
  height: 50px;
  background-color: #CCCCCC;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid dimgray;
}

figure.layers :nth-child(5) {
  border-bottom: 0px solid black !important;
}

/* Paketit */

.packets {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;

}

.img_100 {
  /* position: absolute; */
  width: 80px;
  height: 80px;
  background-color: #CCCCCC;
}

.img_p {
  display: flex;
  flex-wrap: wrap;
  width: 80px;
  margin-left: 100px;
}

.img_25 {
  /* position: absolute; */
  width: 48%;
  height: 49%;
  margin: .5%;
  background-color: #CCCCCC;
} 

.line-packets {
  position: absolute;
  top: 40px;
  left: 87px;
  border-bottom: 1px dotted black;
  opacity: .5;
  width: 85px;
}

/* stream */

.stream_wrap {
  width: 100%;
  max-width: 35rem;
  margin: auto;
}

.stream_waffle {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
}

.block-bg {
  display: flex;
  flex-direction: column;
  margin-bottom: 6px;
  padding: 2px;
}

.l {
  background: rgb(255,244,244);
  background: linear-gradient(90deg, rgba(255,244,244,0.835171568627451) 0%, rgba(255,255,255,0.8295693277310925) 100%);
}

.r {
  background: rgb(255,244,244);
  background: linear-gradient(90deg, 
  rgba(255,255,255,0.8295693277310925) 0%, 
   rgba(255,244,244,0.835171568627451) 100%);
}

.left {
  align-self: flex-start;
}

.left::after {
  content: '→';
  font-size: 1.5rem;
  white-space: nowrap;
  margin-left: 40px;
  color: #CCCCCC;
}

.right {
  align-self: flex-end;
}

.right::before {
  content: '←';
  font-size: 1.5rem;
  white-space: nowrap;
  margin-right: 40px;
  color: #CCCCCC;
}

.img-holder {
  width: 100%;
  max-width: 30rem;
  margin: 2rem auto;
}

.img-holder img {
  width: 100%;
  padding: 1rem 2rem;
  border: 3px solid #CCCCCC;
}
